body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 60px;
}
p.Transformation{
    text-transform: uppercase;
}
.orange-color{
    color: orange;
}
section{

    display: inline-flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    padding: 10px 20px;
    background-image: linear-gradient( orange, tomato);
    border-radius: 10%;
    color: wheat;
    font-weight: 700;
}
.background{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
    
}
